/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lato:wght@400;500;700&family=Fira+Sans:wght@400;500;700&display=swap');
:root {
  --font-default: "Inter", sans-serif;
  --font-primary: "Lato", sans-serif;
  --font-secondary: "Fira Sans", sans-serif;
}

/* Colors */
:root {
  --color-default: #364d59;
  --color-primary: #feb900;
  --color-secondary: #52565e;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
  overflow-x: hidden;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(214,213,217,1) 98%);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment:fixed;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #ffc732;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

figure {
  display: grid;
  border-radius: 1 rem;
  overflow: hidden;
  cursor: pointer;
}
figure >* {
  grid-area: 1/1;
  transition: .4s;
}

figure figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #0000;
  padding: .75rem;
  background: var(--c,#0009);
  clip-path: inset(0 var(--_i,100%) 0 0);
  -webkit-mask:
  linear-gradient(#000 0 0),
  linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}
figure:hover figcaption{
  --_i: 0%;
}
figure:hover img {
  transform: scale(1.2);
}
@supports not (-webkit-mask-clip: text) {
  figure figcaption {
   -webkit-mask: none;
   color: #fff;
 }
}


/*--------------------------------------------------------------
# Partners Section
--------------------------------------------------------------*/


.partners-collections {

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
/*  padding: 50px 0px 50px 0px;*/
position: relative;
margin:0;
}

.partnercard {
  margin:0;
  padding-bottom: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.categories .item {

  text-align: center;
  border-radius: 20px;
  border: 1px solid #404245;
  position: relative;
  padding: 30px;
  height: 200px;
  width: 180px;
  background-color: #16829C;
}


.categories .item:hover{
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.5);
}



.categories .item .icon {
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  line-height: 62px;
  background-color: #fff;
  border-radius: 50%;
}

.categories .item .icon img {
  max-width: 31px;
}

.categories .item h4 {
  margin-top: 15px;
  font-size: 20px;
}

.collections {
  margin-top: 140px;
}

.collections .item img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.collections .item .down-content {
  background-color: #282b2f;
  border: 1px solid #404245;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 30px;
}

.collections .item .down-content h4 {
  font-size: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.collections .item {
  padding-bottom: 60px;
}

.collections .item span {
  color: #fff;
  display: inline-block;
  width: 48%;
  font-size: 15px;
}

.collections .item span strong {
  font-size: 20px;
}

.collections .item span.category {
  text-align: right;
}


.item .icon {
  width: 62px;
  height: 62px;
  display: inline-block;
  text-align: center;
  line-height: 62px;
  background-color: #fff;
  border-radius: 50%;
}

.partner{
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align:center;
  margin-bottom: 50px;
}

.partner-text {
  margin-top:10px;
}

.partnerIMG{
  width:170px;
  height: 180px;
}

.partner h4{
  font-size: 15px;
  color: #000;
  transition: transform 0.3s;
}

.partner:hover h4 {
  transform: scale(1.1);
  color:#feb900;
  font-weight: bold !important;
}



/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 30px;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  color: #2e3135;
}

.section-header h2:before,
.section-header h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--color-primary);
  display: inline-block;
}

.section-header h2:before {
  margin: 0 15px 10px 0;
}

.section-header h2:after {
  margin: 0 0 10px 15px;
}

.section-header p {
  margin: 0 auto 0 auto;
}

@media (min-width: 1199px) {
  .section-header p {
    max-width: 60%;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 140px 0 170px 0;
  min-height: 30vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sustainability-breadcrumbs {
  padding: 240px 0 170px 0;
  min-height: 30vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
}

.breadcrumbs h2 {
  font-size: 56px;
  font-weight: 500;
  color: #fff;
  font-family: var(--font-secondary);
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
}

.breadcrumbs ol a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

.breadcrumbs ol a:hover {
  text-decoration: underline;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: "/";
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--color-secondary);
  line-height: 0;
}

.scroll-top:hover {
  background: #ffc732;
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: #fff;
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #fff;
  border-color: var(--color-primary) transparent var(--color-primary) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  z-index: 997;
  position: absolute;
  padding: 30px 0;
  top: 0;
  left: 0;
  right: 0;
}

.header .logo img {
  max-height: 100px;
  margin-right: 6px;
}

.header .logo h1 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
  font-family: var(--font-primary);
}

.header .logo h1 span {
  color: var(--color-primary);
}

#hsklogo {
  width: 225px;
  height: 90px;
  margin-right: 30px;
}



/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--color-primary);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  /*.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: transparent;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 17px;
    text-transform: none;
    color: #fff;
    font-weight: 400;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-primary);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }*/
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0.5rem 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.1); /* Subtle transparency */
    border: 1px solid rgba(255, 255, 255, 0.2); /* subtle border */
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(-10px);
    white-space: nowrap;
  }

  .navbar .dropdown ul li {
    padding: 0;
    margin: 0;
  }

  .navbar .dropdown ul a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: none;
    color: #fff;
    font-weight: 400;
    transition: color 0.3s, background-color 0.3s;
  }

  .navbar .dropdown ul a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Slightly more prominent on hover */
    color: var(--color-primary);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

/* Nested dropdown styling */
.navbar .dropdown .dropdown ul {
  top: 0;
  left: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  transform: translateY(0);
}
}

@media (min-width: 1280px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #222428;
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    position: relative;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    padding-right: 10px;
  }

  .mobile-nav-hide {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9996;
  }
}


/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .card-item {
  border: 1px solid rgba(82, 86, 94, 0.2);
  background: #fff;
  position: relative;
  width:440px;
  height: 300px;
  overflow:hidden;
  border-radius: 0;
/*  padding: 2,2,2,2;*/
}

.services .card-item .card-bg {
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: filter 0.1s;
}
.services .card-item .card-image-overlay{
  max-width: 100%;
  text-align:center;
}

.services .card-item h4 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px 0 10px;
  color: var(--color-secondary);
}

.services .card-item p {
  color: var(--color-secondary);
  margin: 0;
}

.card-bg{
  position:relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  overflow:hidden;
}

.card-bg img{
  width:100%;
  height:100%;
  object-fit:cover;
  transition: filter 0.1s;
}

.card-image-overlay {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  background: rgba(0,0,0,0.8);
  color: #fff;
  opacity: 0;
  transition: opactiy 0.3s;
}

.card-bg:hover .card-overlay-text{
  font-size: 35px;
  color: #feb900;
  font-weight: bold;
}

.card-bg:hover img {
  filter: blur(5px);

}

.card-bg:hover .card-image-overlay{
  opacity:1;
}

/*--------------------------------------------------------------
# Services Card Gallery Section
--------------------------------------------------------------*/
.gallery{
  display:flex;
  left: calc(50% - 330px);
  border-radius: 15%;
}

.gallery-card{
  border-radius: 15%;
}

.gallery .gallery-card{
  position: relative;
  left: 0px;
  width: 520px;
  height: 350px;
/*  border: 1px solid #feb900;*/
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 25px;
}

.gallery .gallery-card img{
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15%;
  height: 100%;
  width: 100%;
}

.gallery-card:hover .card-image-overlay{
  border-radius: 15%;
  opacity:0.7;
}

.gallery .gallery-card .card-overlay-text{
  font-size: 35px;
  color: #feb900;
  font-weight: bold;
}

.gallery-card:not(:first-child){
/*  margin-left: -10px;*/
}

.gallery-card:nth-child(1):hover {
/*  transform: translateY(-15px);*/
  font-weight: bold;
  cursor: pointer;
}

.gallery-card:nth-child(2):hover {
/*  transform: translateY(-15px);*/
  font-weight: bold;
  cursor: pointer;
}

.gallery-card:nth-child(3):hover {
/*  transform: translateY(-15px);*/
  font-weight: bold;
  cursor: pointer;
}

.gallery-card:hover ~ .gallery-card {
/*  left:20px;*/
}


/*--------------------------------------------------------------
# Locations Image Wrapper Section
--------------------------------------------------------------*/

.wrapper {
  position: relative;
  height: 300px;
  width: 600px;
  margin: 50px 0;
  
  display: flex;
  flex-direction: row;
  
  transition: all 200ms ease-in-out;
}

.image-wrapper {
  height: 300px;
  width: 450px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;

  transition: all 200ms ease-in-out;
}

.image-wrapper:hover a{
  display: block;
  position: relative;
  z-index: 2;
}

.image-wrapper:hover .location-overlay-text {
  display:block;
}

.image-wrapper:hover a:hover {
  background:#ff9900;
  text-decoration: none;
}

#imgwrap {
  height: 300px;
  width: 450px;
  object-fit: cover;
  object-position: top;
  
  transition: all 200ms ease-in-out;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 300px;
  width: 450px;
  left: 150px;
  transition: all 200ms ease-in-out;
  overflow: hidden;
  
}

#h1wrap {
  position: relative;
  bottom: 0;
  height: 250px;
  color: #16829C;
  font-size: 80px;
  font-family: Oswald;
  text-transform: uppercase;
  
  transition: all 300ms ease-in-out;
}

.wrapper:hover #imgwrap {
  transform: scale(1.5);
  object-position: bottom;
}

.wrapper:hover #h1wrap {
  bottom: 300px;
  transform: scale(0.6);
}

.wrapper:hover .image-wrapper {
  width: 500px;
}

.location-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  display: none;
}

/*--------------------------------------------------------------
# Locations Section
--------------------------------------------------------------*/

.locations .locations-item {
/*  padding: 40px;*/
/*#F1F1EF*/
background: #e8e9e5;
height: 100%;
border-radius:5%;
overflow: hidden;
padding-bottom:10px;

/*  transform: translate(-50%,-50%);*/
background-image: linear-gradient(to right, #fffffa, #ffffeb);
background-size: 100% 0px;
background-repeat: no-repeat;
transition: background-size .5s, background-position .5s ease-in-out;

}

.locations .locations-item:hover{
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .3s, background-size .3s ease-in-out;
}

.locations .locations-item h3 {
  color: var(--color-default);
  font-weight: 700;
/*  margin-left: 100px;*/
margin-top: 15px;
padding-bottom: 8px;
padding-left: 70px;
/*  padding-right: 200px;*/
padding-top: 10px;
padding-right: 10px;
font-size: 22px;
position: relative;
display: inline-block;
align-items: center;
transition: background-size .7s, background-position .5s ease-in-out;
}

/*.locations .locations-item .readmore {
  margin-top: 15px;
  margin-left: 10px;
  display: inline-block;
  color: var(--color-primary);
}
*/

.locations .locations-image-item{
  position:relative;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  border: 1px solid #dce2cc;
  margin-bottom: 35px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
}



.locations .locations-item:hover img {
  transform: scale(1.2);
  transform-origin: center;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
}

.box-spacing .col-lg-4 {
  margin-right : 30px;
}

.box-spacing .col-lg-4:last-child{
  margin-right: 0;
}

/*--------------------------------------------------------------
# About Us Header Section (HSKT, HSKJ, HSKR Details.html)
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*.about-us-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-top: 0;
  margin-bottom: 50px; 
  padding: 0 5%; 
}

.about-us-column {
  flex: 1;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px; 
  text-align: center;
  background-color: #F7F7F5; 
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s, transform 0.3s; 
  font-family: 'Roboto', sans-serif; 
}

.about-us-column a {
  display: block; 
  font-size: 20px;
  color: #333; 
  font-weight: 700;
  text-decoration: none; 
  transition: font-size 0.3s;
}

.about-us-column:hover {
  background-color: #fff;
  transform: translateY(-5px); 
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2); 
}

.about-us-column-active{
  background-color: #fafef0;
}

.about-us-content{
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
  padding:20px;
}

.about-us-content h3{
  color: #2A2A2A;
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 3px solid #EECDCB;
  padding-bottom: 10px;
}

.about-us-content h2 {
  color: #4A4A4A; 
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 15px;
  position: relative;
}

.about-us-content h2::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #CCE2DC;
}


.about-us-content p {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 400;
}


.about-us-content ol {
  padding-left: 30px;
}

.about-us-content ol li {
  margin-bottom: 10px;
}

.about-us-content strong {
  color: #2A2A2A;
} */

.about-us-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px; /* Ensuring the container doesn't stretch too wide on larger screens */
  padding: 0 2%; /* Slightly reduced padding for more subtle edge spacing */
  gap: 20px; /* Use gap instead of margin between columns */
  margin-bottom: 30px;
}

/* Columns */

.about-us-column {
  flex: 1;
  padding: 25px;
  border-radius: 12px; /* More pronounced rounded corners */
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.05); /* Lighter shadow for subtlety */
  transition: transform 0.3s, box-shadow 0.3s; /* Only transitioning needed properties */
  font-family: 'Roboto', sans-serif;
}

.about-us-column:hover {
  transform: translateY(-3px); /* Less movement for a subtle hover effect */
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08); /* Slightly more pronounced shadow on hover */
}

.about-us-column-active {
  background-color: #f3f4f6; /* Lighter shade for the active state */
}

/* Links */

.about-us-column a {
  font-size: 21px;
  color: #2A2A2A; /* Using the same dark shade for uniformity */
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s; /* Transitioning color for subtle hover effect */
}

.about-us-column a:hover {
  color: #4A4A4A; /* Slightly lighter color on hover for a subtle effect */
}

/* Content Styling */

.about-us-content {
  padding: 25px; /* Uniform padding */
  font-family: 'Roboto', sans-serif;
  color: #555; /* Slightly lighter color for the text */
}

.about-us-content h3, .about-us-content h2 {
  margin-bottom: 18px;
  position: relative;
}

.about-us-content h3::after, .about-us-content h2::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #CCE2DC;
}

.about-us-content h3 {
  font-size: 24px;
  border-bottom: none;
}

.about-us-content h2 {
  font-size: 22px;
  margin-top: 35px;
}

/* Paragraphs and Lists */

.about-us-content p, .about-us-content ol li {
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: 400;
}

.about-us-content ol {
  padding-left: 28px; /* Slightly reduced padding */
}

.about-us-content strong {
  color: #2A2A2A;
}

/*--------------------------------------------------------------
# Timeline Section
--------------------------------------------------------------*/

.service-details{
  margin-top:0;
  margin-bottom:20px;
  font-family: var(--font-primary);
}
.timeline-body {
  --color: rgba(30, 30, 30);
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: var(--font-primary);
  color: var(--color);
}

.timeline-body h1 {
  text-align: center;
}

.timeline-body ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

/* line */
.timeline-body ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline-body ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
.timeline-body ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
.timeline-body ul li .timeline-date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color:  #696969;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.timeline-body ul li .timeline-date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* circle */
.timeline-body ul li .timeline-date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* title descr */
.timeline-body ul li .timeline-title,
.timeline-body ul li .timeline-descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
.timeline-body ul li .timeline-title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-family: var(--font-primary);
  font-weight: 500;
}
.timeline-body ul li .timeline-descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
.timeline-body ul li .timeline-title::before,
.timeline-body ul li .timeline-descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 4px;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(6px);
  transform: translate(-50%, 50%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.timeline-body ul li .timeline-title::before {
  bottom: calc(100% + 0.125rem);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline-body ul li .timeline-descr::before {
  z-index: -1;
  bottom: 0.25rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 40rem) {
  .timeline-body ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  .timeline-body ul::before {
    grid-column: 2;
  }
  .timeline-body ul li:nth-child(odd) {
    grid-column: 1;
  }
  .timeline-body ul li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  .timeline-body ul li:nth-child(2) {
    grid-row: 2/4;
  }

  .timeline-body ul li:nth-child(odd) .timeline-date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .timeline-body  ul li:nth-child(odd) .timeline-date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .timeline-body ul li:nth-child(odd) .timeline-date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}


*/
/*Values*/

/*Values Card*/

.values-body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;

}
.values-body ul{
  overflow: hidden;
  list-style: none;
  display: grid;
  row-gap: 0.5rem;
}
.values-body ul li.values-card{
  position: relative;
  padding-block: 1.5rem;
  padding-inline: 2rem;
  background-color: var(--bg-color);
  background-image: linear-gradient(to right, rgb(0 0 0 / .1), transparent);
  row-gap: 0.5rem;
  column-gap: 2rem;
}

.values-body ul li.values-card .values-title{
  grid-area: title;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.values-body ul li.values-card .values-co
ntent{
  grid-area: content;
}

.values-body ul li.values-card .values-header{
  font-size: 3rem;
  text-align: center;
}

@media (min-width: 30rem){
  .values-body ul li.values-card {
    grid-template: 'icon title' 'icon content';
    text-align: left;
  }
  .values-body ul li.values-card .values-title { text-align: left }
}




/*--------------------------------------------------------------
# Stats Counter Section
--------------------------------------------------------------*/

/*.stats-counter .stats-item {
  background: #ebeee3;
  box-shadow: 0px 0 30px rgba(82, 86, 94, 0.05);

  display: flex;
  flex-direction: column;
  align-items: center;
}*/

.stats-item > div {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats-counter .stats-item i {
  font-size: 40px;
  line-height: 0;
  margin-right: 20px;
  color: var(--color-primary);
  margin-bottom: 20px;
  align-items: center;
}


.stats-counter .stats-item span {
  font-size: 36px;
  display: flex;
  font-weight: 600;
  color: var(--color-secondary);
  margin-bottom: 10px;
  align-items: center;
}

.stats-counter .stats-item p {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
  display:flex;
  justify-content: center;
  align-items: center;
}

.stats-box{
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3)
}

/*--------------------------------------------------------------
# Service Cards Section
--------------------------------------------------------------*/
.services-cards h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-secondary);
}

.services-cards p {
  font-size: 15px;
}

.services-cards ul li {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-top: 10px;
}

.services-cards ul li i {
  font-size: 16px;
  color: var(--color-primary);
  margin-right: 6px;
}

/*--------------------------------------------------------------
# Sustainability and Contact Us Section (Home)
--------------------------------------------------------------*/
.index-btn {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #3498db; 
  color: #ffffff; 
  border: none;
  border-radius: 4px; 
  text-decoration: none; 
  font-weight: bold; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  align-items: center;
}

.index-btn:hover {
  background-color: #2980b9;
}

.btn-container{
  margin-top:30px;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

/*--------------------------------------------------------------
# Service Details Section
--------------------------------------------------------------*/
.service-details {
    margin: 0 0 20px;
}

.services-list {
    position: relative;
    padding: 20px;
    border: 1px solid #d5d7da;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.services-list a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #333;
    margin: 15px 0;
    transition: color 0.3s, background-color 0.3s;
    padding: 8px 0 8px 25px;
    line-height: 1.5;
    border-left: 4px solid transparent;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.services-list a:hover {
    color: #007bff;
    border-color: var(--color-primary);
    background-color: #f3f4f6;
}

.services-list a:hover::after {
    content: attr(data-hover-text);
    display: block;
    color: #007bff;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 600;
}

.services-list a.active {
    font-weight: 700;
    border-color: var(--color-primary);
    background-color: #e5e5e5;
}

.service-details h3, .service-details h4, .service-details p {
    font-weight: 700;
    margin: 20px 0;
}

.service-details h3 {
    font-size: 28px;
    line-height: 1.4;
}

.service-details h4 {
    font-size: 20px;
}

.service-details p {
    font-size: 15px;
}

.service-details .services-img {
    margin-bottom: 20px;
}

.data-table {
    width: 100%;
    margin: 25px 0;
    border-collapse: separate;
    border-spacing: 0 5px;
    transition: all 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.data-table th, .data-table td {
    padding: 10px;
    text-align: center;
}

.data-table th {
    background-color: #2C3E50;
    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-bottom: 2px solid #3498DB;
    border-radius: 5px 5px 0 0;
}

.data-table td {
    font-size: 16px;
    background-color: #f7f9fc;
    border-radius: 5px;
    transition: background 0.2s, transform 0.2s;
}

.data-table tbody tr:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.data-table td:hover {
    background-color: #e5f6fa;
}

/*--------------------------------------------------------------
# Total Capacity Data Table (initially hidden)
--------------------------------------------------------------*/
#showTotalCapacity {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #2C3E50; 
  background-color: #f7f9fc;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none; 
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  position: relative;
}

#showTotalCapacity:hover {
  background-color: #e5f6fa;
  transform: translateY(-3px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

#showTotalCapacity::before {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}


table.data-table-total-capacity {
  display: none;
}

.data-table-total-capacity th:first-child,
.data-table-total-capacity td:first-child {
  width: 30%;
  min-width: 150px;
}

.data-table-total-capacity th:last-child,
.data-table-total-capacity td:last-child {
  width: 25%;
  min-width: 150px;
}

.data-table-total-capacity{
  border-collapse: separate;
  border-spacing: 0 5px;
  width: 100%;
  margin: 25px 0;
  transition: all 0.3s ease-in-out;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.data-table-total-capacity th {
  background-color: #286D7D;
  color: white;
  padding: 15px 12px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-bottom: 2px solid #3498DB;
  border-radius: 5px 5px 0 0;
}

.data-table-total-capacity td {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  transition: background 0.2s, transform 0.2s;
  border: none;
  background-color: #f7f9fc; 
  border-radius: 5px;
}

.data-table-total-capacity tbody tr:hover {
  transform: scale(1.02);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.data-table-total-capacity td:hover{
  background-color: #e5f6fa;
}

/*--------------------------------------------------------------
# Sustainability Section
--------------------------------------------------------------*/
.sustainability-section {
  padding: 40px 0; /* Gives space at the top and bottom of the sustainability section */
}

.sustainability-section h3 {
  margin-bottom: 20px; 
  font-weight: bold; 
  color: #333; 
}

.sustainability-section img {
  width: 700px;
  border-radius: 8px;
  height:500px;
}

.sustainability-section p {
  font-size: 16px; 
  line-height: 1.5; 
  color: #555; 
}
/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

.info-item-header {
  /* align-self: flex-start; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.info-item-header h3{
  margin: 0;
}
.address-col h5 {
  margin:0;
}

.address-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-grow:1;
  flex-shrink: 1;
  flex-basis: 0;
}

.address-col:not(:last-child) {
  border-right: 1px solid #000;  /* Adjust color as needed */
  margin-right: 20px;  /* Some spacing between columns */
  padding-right: 20px;  /* Some padding to prevent text touching the border */
}

.contact_btn {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #3498db; 
  color: #ffffff; 
  border: none;
  border-radius: 4px; 
  text-decoration: none; 
  font-weight: bold; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  align-items: center;
  /* align-self: flex-end; */
}

*/
.contact .info-item {
  background: rgba(255, 255, 255, 0.08); /* Subtle background */
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  transition: all 0.3s;
}

.contact .info-item:hover {
  background: rgba(255, 255, 255, 0.15); /* On hover, increase opacity */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}


.contact .info-item i {
  font-size: 32px;
  margin-bottom: 10px;
}


.contact .info-item h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}


.contact .php-email-form {
  background: rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 10px;
}

/*.contact .php-email-form .form-group {
  padding-bottom: 20px;
}*/

.contact .php-email-form .form-group, .contact .php-email-form .row {
  margin-bottom: 15px;
}

.contact .php-email-form button {
  background: var(--color-primary); /* Assuming you have a primary color defined */
  color: #FFF;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
}

.contact .php-email-form button:hover {
  background-color: #777;
}

.contact iframe {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #059652;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--color-primary);
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

.contact .php-email-form button[type=submit]:hover {
  background: rgba(254, 185, 0, 0.8);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  overflow-x: hidden;
  padding: 0;

}

.hero .carousel {
  width: 100%;
  min-height: 100vh;
  padding: 80px 0;
  margin: 0;
  position: relative;
}

.hero .carousel-item {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
  transition-duration: 0.4s;
}

.hero .carousel-item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
}

.hero .info {
  position: absolute;
  inset: 0;
  z-index: 2;
}

@media (max-width: 768px) {
  .hero .info {
    padding: 0 50px;
  }
}

.hero .info h2 {
  color: #fff;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 56px;
  font-weight: 700;
  position: relative;
}

.hero .info h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 4px;
  background: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media (max-width: 768px) {
  .hero .info h2 {
    font-size: 36px;
  }
}

.hero .info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.hero .info .btn-get-started {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  border: 2px solid var(--color-primary);
}

.hero .info .btn-get-started:hover {
  background: var(--color-primary);
}

.hero .carousel-control-prev {
  justify-content: start;
}

@media (min-width: 640px) {
  .hero .carousel-control-prev {
    padding-left: 15px;
  }
}

.hero .carousel-control-next {
  justify-content: end;
}

@media (min-width: 640px) {
  .hero .carousel-control-next {
    padding-right: 15px;
  }
}

.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
  background: none;
  font-size: 26px;
  line-height: 0;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .carousel-control-prev,
.hero .carousel-control-next {

  z-index: 3;
  transition: 0.3s;
}


.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
  opacity: 0.5;
}

.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
  opacity: 0.9;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  color: #fff;
  background: url("../img/hero-carousel/DJI_Rembang3.jpg") center center no-repeat;
  background-size: cover;
  font-size: 14px;
  padding: 40px 0 30px 0;
  position: relative;
}

.footer:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
}

.footer .footer-content .footer-info {
  margin-bottom: 30px;
}

.footer .footer-content .footer-info-sub {
  margin-top: 135px;
}

.footer .footer-content .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .footer-content .footer-info-sub h3{
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .footer-content .footer-info h3 span {
  color: var(--color-primary);
}

.footer .footer-content .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: var(--font-primary);
  color: #fff;
}


.footer .footer-content h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-content .footer-links {
  margin-top:30px;
  margin-bottom: 30px;
  text-align: right;
}

.footer .footer-content .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer .footer-content .footer-links ul li {
  padding: 8px 0;
}

.footer .footer-content .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-content .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-align: right;
}

.footer .footer-content .footer-links ul a:hover {
  color: #fff;
}

.footer .footer-legal .copyright {
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer .footer-legal .credits {
  padding-top: 4px;
  font-size: 11px;
  color: #fff;
}

.footer .footer-legal .credits a {
  color: var(--color-primary);
}

